.fundo-rodape {
  background-color: #141414;
}

.rodape-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 30px 20px;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  padding-bottom: 60px;
}

.contato p {
  color: #c0c5cc;
  max-width: 30ch;
  font-size: 1.3rem;
  line-height: 1.3;
}

.contato ul {
  color: #f5f7fa;
  font-weight: bold;
}

.contato a {
  color: #f5f7fa;
}

.contato a:hover {
  background: linear-gradient(#52bad1, #81ecf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.copy {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  align-items: center;
}

.copy span {
  color: #7e838c;
  font-size: 0.75rem;
  line-height: 1.1;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .rodape-container {
    padding: 30px 20px;
  }
}
