.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 100px;
  align-items: center;
}

.texto h1 {
  color: #0b0c12;
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 20px;
}

.texto p {
  color: #636973;
  font-size: 1.3rem;
  line-height: 1.3;
}

.borda {
  border-radius: 50%;
  padding: 6px;
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #52bad1, #81ecf3);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: content-box, padding-box;
}

.borda img {
  width: auto;
  height: auto;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .intro h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .intro h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .intro p {
    font-size: 1.2rem;
    text-align: center;
  }
}
