.portifolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.titulo-portifolio {
  color: #989ea6;
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.portifolio-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.portifolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  background-color: #f5f7fa;
  padding: 20px 20px 12px 20px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}

.portifolio::before {
  content: "";
  position: absolute;
  background: linear-gradient(#52bad1, #90fff8);
  display: block;
  height: 4px;
  width: 20px;
  background-repeat: no-repeat;
  top: -5px;
  left: 5px;
}

.ano {
  position: absolute;
  top: -30px;
  left: 2px;
  font-size: 0.75rem;
  color: #7e838c;
}

.btn-seta {
  color: #0b0c12;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 5px 20px 5px 20px;
  position: relative;
  grid-column: 1 / -1;
  place-self: end;
  justify-content: center;
  display: flex;
  align-items: center;
}

.btn-seta::after {
  content: "";
  background-image: url(../img/seta-direita.svg);
  position: absolute;
  height: 10px;
  width: 5px;
  background-repeat: no-repeat;
  left: 75px;
  display: inline-block;
}

.linguagens-port {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.linguagens-port li {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.75rem;
  color: #242833;
}

.btn-todos a {
  background: linear-gradient(#52bad1, #81ecf3);
  padding: 10px 20px;
  border-radius: 4px;
  color: #0b5262;
  font-weight: bold;
  float: right;
  opacity: 1;
}

.btn-todos a:hover {
  transition: 0.4s;
  opacity: 0.8;
  cursor: pointer;
}

.print {
  object-fit: cover;
  width: 300px;
  border-radius: 4px;
}

@media (max-width: 800px) {

  .portifolio-container {
    padding: 24px 20px;
  }

  .portifolio {
    grid-template-columns: 1fr;
    gap: 16px 20px;
  }
  .portifolio-lista {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
